version: '3.8'
services:
  gateway:
    build: gateway
    restart: always
    container_name: gateway
    ports:
      - "8080:8080"
    depends_on:
      - server
    environment:
      - SHAREIT_SERVER_URL=http://server:9090

  server:
    build: server
    restart: always
    ports:
      - "9090:9090"
    depends_on:
      - db
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/shareit
      - SPRING_DATASOURCE_USER=admin
      - SPRING_DATASOURCE_PASSWORD=password
      - POSTGRES_DB=shareit

  db:
    image: postgres:13.7-alpine
    container_name: db
    restart: always
    volumes:
      - /var/lib/postgresql/data
    ports:
      - "6541:5432"
    environment:
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=shareit
